html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home,
.greeted {
  font-weight: 500;
}

.home:hover,
.greeted:hover {
  color: blue !important;
}

/* Index styling */
.input-field {
  height: 50px;
}

.type-lang {
  margin-right: .8em;
  font-size: 1.2em;
}

.btn-greet,
.btn-clear {
  /* height: 40px; */
}

.holder-msg {
  height: 60px;
}

.card {
  background: #f5ebe0;
  padding: 1em 2em;
}

.counter {
  border: solid black 1px;
  border-radius: .25em;
  padding: .2em;
  font-size: 20px;
  font-weight: 400;
  background: #222;
  color: #fff;
}


/* Greeted style */
.greeted-title,
.home-title {
  font-style: italic;
}