@model Dictionary<string, int>

@{
    ViewData["Title"] = "Greeted Names";
}

<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var greetedName in Model)
                {
                    <tr>
                        <td width="50%">@greetedName.Key</td>
                        <td width="20%">@greetedName.Value</td>
                        <td width="30%">
                            <form method="post" asp-action="Delete">
                                <input type="hidden" name="name" value="@greetedName.Key" />
                                <button type="submit" class="bg-danger border-0 rounded text-white p-1 px-3">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form method="post" asp-action="DeleteAll">
            <button type="submit" class="btn btn-danger">Delete All</button>
        </form>
    </div>
</div>
