@page
@model GreetedNamesModel
@{
    ViewData["Title"] = "GreetedNames";
}

<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-6">
        <h1 class="display-4">Greeted Names</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Names</th>
                    <th scope="col">No. of time greeted</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in @Model.theGreeted)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>
                        <form method="post" asp-page-handler="delete">
                            <button class="btn btn-danger">Delete</button>
                            <input type="hidden" name="name" value=@item.Key>
                        </form>
                    </td>
                </tr>
            }

            <form method="post" class="form-group">
                <label asp-for="person.FirstName" for="">Enter a name</label>
                <input type="text" class="form-control" asp-for="person.FirstName" placeholder="Enter a name you want to delete">
                <button class="btn btn-danger m-4">Clear Name</button>
            </form>

                <div>
                    
                    <p class="text-danger">@Model.alertMsg</p>
                </div>
        </table>
    </div>
</div>
