@page
@model GreetedNamesModel
@{
    ViewData["Title"] = "GreetedNames";
}

<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-6">
        <h1 class="display-4 text-center greeted-title">Greeted Names</h1>
        <div>
            <p class="text-danger">@Model.alertMsg</p>
        </div>
        <table class="table border rounded" style="background: #f5ebe0">
            <thead>
                <tr>
                    <th scope="col">Names</th>
                    <th scope="col">No. of time greeted</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in @Model.theGreeted)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>
                        <form method="post" asp-page-handler="delete">
                            <button class="btn btn-danger">Delete</button>
                            <input type="hidden" name="name" value=@item.Key>
                        </form>
                    </td>
                </tr>
            }

        </table>
        <form method="post" asp-page-handler="clear">
            <button class="btn btn-danger btn-clear" onclick="popGreetMsg()">Clear All</button>
        </form>
    </div>
</div>
